src/*.exe
src/Isibeli
src/test_Isibeli
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.Isibeli

# Compilation and Qt preprocessor part
*.qm
Makefile
Isibeli-qt
Isibeli-Qt.app

# Unit-tests
Makefile.test
Isibeli-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
